<a href="https://colab.research.google.com/github/drpetros11111/Tensorflow_Portilia/blob/Dataframe/08_Pandas_Exercises_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright Pierian Data</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Exercises - Solutions

**Source of the Data: https://www.kaggle.com/chirin/africa-economic-banking-and-systemic-crisis-data/downloads/africa-economic-banking-and-systemic-crisis-data.zip/1**


This dataset is a derivative of Reinhart et. al's Global Financial Stability dataset which can be found online at: https://www.hbs.edu/behavioral-finance-and-financial-stability/data/Pages/global.aspx

The dataset will be valuable to those who seek to understand the dynamics of financial stability within the African context.

Content
The dataset specifically focuses on the Banking, Debt, Financial, Inflation and Systemic Crises that occurred, from 1860 to 2014, in 13 African countries, including: Algeria, Angola, Central African Republic, Ivory Coast, Egypt, Kenya, Mauritius, Morocco, Nigeria, South Africa, Tunisia, Zambia and Zimbabwe.



* caseA     number which denotes a specific country
* cc3A     three letter country code
* country    The name of the country
* year   The year of the observation
* systemic_crisis"0" means that no systemic crisis occurred in the year and "1" means that a systemic crisis occurred in the year.
* exch_usd    The exchange rate of the country vis-a-vis the USD
* domestic_debt_in_default   "0" means that no sovereign domestic debt default occurred in the year and "1" means that a sovereign domestic debt default occurred in the year
* sovereign_external_debt_default  "0" means that no sovereign external debt default occurred in the year and "1" means that a sovereign external debt default occurred in the year
* gdp_weighted_default    The total debt in default vis-a-vis the GDP
* inflation_annual_cpi    The annual CPI Inflation rate
* independence   "0" means "no independence" and "1" means "independence"
* currency_crises  "0" means that no currency crisis occurred in the year and "1" means that a currency crisis occurred in the year
* inflation_crises  "0" means that no inflation crisis occurred in the year and "1" means that an inflation crisis occurred in the year
* banking_crisis"no_crisis" means that no banking crisis occurred in the year and "crisis" means that a banking crisis occurred in the year

---
---
***PLEASE NOTE! THERE ARE MANY,MANY DIFFERENT POSSIBLE SOLUTIONS TO THESE QUESTIONS! PLEASE DON'T POST ASKING IF YOUR SOLUTION IS OK IF ITS DIFFERENT. AS LONG AS YOU GOT THE CORRECT ANSWER IT IS OK!***

---
---
# Complete the Tasks Below
---

**TASK: Import pandas**

In [1]:
# CODE HERE

In [2]:
import pandas as pd

**TASK:  Read in the african_econ_crises.csv file that is located under the 01-Crash-Course-Pandas folder. Pay close attention to where the .csv file is located! Please don't post to the QA forums if you can't figure this one out, instead, run our solutions notebook directly to see how its done.**

In [3]:
# CODE HERE
df = pd.read_csv('/content/african_econ_crises.csv')

In [4]:
df = pd.read_csv('african_econ_crises.csv')

**TASK: Display the first 5 rows of the data set**

In [5]:
# CODE HERE
df.head()

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

In [6]:
df.head()

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

**TASK: How many countries are represented in this data set?**

In [12]:
# CODE HERE
df['country'].unique().count()
df['country'].unique() # Removed the print() statement and chained .count() method

AttributeError: 'numpy.ndarray' object has no attribute 'count'

In [20]:
# CODE HERE
df['country'].unique().size
df['country'].unique()
print(f'The African countries that took part in the study are: {df["country"].unique()}')

The African countries that took part in the study are: ['Algeria' 'Angola' 'Central African Republic' 'Ivory Coast' 'Egypt'
 'Kenya' 'Mauritius' 'Morocco' 'Nigeria' 'South Africa' 'Tunisia' 'Zambia'
 'Zimbabwe']

In [17]:
# CODE HERE
df['country'].unique().size
df['country'].unique() # Removed the print() statement and chained .count() method
print(f'the number of countries in the survey are: {df["country"].unique().size}')

the number of countries in the survey are: 13

In [ ]:
df['country'].nunique()

13

**TASK: What are the countries represented in this data set?**

In [21]:
# CODE HERE
df['country'].unique()

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

In [22]:
df['country'].unique()

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

**TASK: What country had this highest annual CPI Inflation rate? What was the inflation rate?**

In [23]:
# CODE HERE
df.sort_values('inflation_annual_cpi', ascending=False).head(1)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
1053,70,ZWE,Zimbabwe,2008,1,0.002,1,1,0.0,21989695.22,1,1,1,crisis

In [24]:
df.sort_values('inflation_annual_cpi',ascending=False).head(1)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
1053,70,ZWE,Zimbabwe,2008,1,0.002,1,1,0.0,21989695.22,1,1,1,crisis

**TASK: In what year did Kenya have its first System Crisis?**

In [28]:
# CODE HERE
df[(df['country']=='Kenya') & (df['systemic_crisis'])==1].sort_values('year').head(1)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
475,35,KEN,Kenya,1985,1,16.2843,0,0,0.0,11.398,1,0,0,crisis

In [26]:
df[(df['country']=='Kenya') & (df['systemic_crisis']==1)].sort_values('year')

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
475,35,KEN,Kenya,1985,1,16.2843,0,0,0.0,11.398,1,0,0,crisis
476,35,KEN,Kenya,1986,1,16.0422,0,0,0.0,10.284,1,0,0,crisis
477,35,KEN,Kenya,1987,1,16.5149,0,0,0.0,13.007,1,0,0,crisis
478,35,KEN,Kenya,1988,1,18.5994,0,0,0.0,4.804,1,0,0,crisis
479,35,KEN,Kenya,1989,1,21.6010,0,0,0.0,7.617,1,1,0,no_crisis
482,35,KEN,Kenya,1992,1,36.2163,0,0,0.0,27.332,1,1,1,crisis
483,35,KEN,Kenya,1993,1,68.1631,0,0,0.0,45.979,1,1,1,crisis
484,35,KEN,Kenya,1994,1,44.8389,0,1,0.0,28.814,1,0,1,crisis
485,35,KEN,Kenya,1995,1,55.9389,0,1,0.0,1.554,1,0,0,crisis
486,35,KEN,Kenya,1996,1,55.0211,0,1,0.0,8.862,1,0,0,no_crisis
487,35,KEN,Kenya,1997,1,62.6778,0,1,0.0,11.924,1,0,0,no_crisis
488,35,KEN,Kenya,1998,1,61.9056,0,1,0.0,6.716,1,0,0,no_crisis
489,35,KEN,Kenya,1999,1,72.9306,0,0,0.0,5.753,1,1,0,no_crisis

**TASK: How many yearly systemic crisises have occurred per country?**

In [30]:
# CODE HERE
crisis = df[df['systemic_crisis']==1]
crisis.groupby('country').count()['systemic_crisis'].sort_values(ascending=False)

country
Central African Republic    19
Zimbabwe                    15
Kenya                       13
Nigeria                     10
Egypt                        6
Tunisia                      5
Algeria                      4
Ivory Coast                  4
Zambia                       4
Morocco                      2
Name: systemic_crisis, dtype: int64

# Selecting a Column with ' ' vs. [ ]
In pandas, you use different ways to access columns depending on the context.

Here's a breakdown of when to use '' (single quotes) and when to use [''] (square brackets):

------------------
# 1. Single Quotes inside Square Brackets '':
This is the most common way to select a column from a DataFrame.

----------------------

#2. Use [''] when you're accessing a column of a DataFrame or chaining operations.

The column name must be passed as a string inside the square brackets.

---------------------------

#Example:

    crisis = df[df['systemic_crisis'] == 1]  # Accessing the 'systemic_crisis' column

Here, df['systemic_crisis'] selects the 'systemic_crisis' column from the DataFrame df.

This works with any column name (even those with spaces, special characters, etc.).

It also returns a Series when selecting a single column and a DataFrame when selecting multiple columns.

In [31]:
# Grab only the systemic crisis years
crisis = df[df['systemic_crisis']==1]
# Group by country
crisis.groupby('country').count()['systemic_crisis']

country
Algeria                      4
Central African Republic    19
Egypt                        6
Ivory Coast                  4
Kenya                       13
Morocco                      2
Nigeria                     10
Tunisia                      5
Zambia                       4
Zimbabwe                    15
Name: systemic_crisis, dtype: int64

**TASK: How many years did  Zimbabwe have a sovereign external debt default occur?**

In [40]:
# CODE HERE

# Filter for Zimbabwe and where default is 1
zimbabwe_defaults = df[(df['country'] == 'Zimbabwe') & (df['sovereign_external_debt_default'] == 1)]

# Calculate the beginning and end year of the default
beginning_year = zimbabwe_defaults['year'].min()
end_year = zimbabwe_defaults['year'].max()

# Calculate the total number of years
total_years = len(zimbabwe_defaults)

print(f'Zimbabwe defaulted its external debt for {len(df[(df["country"]=="Zimbabwe") & (df["sovereign_external_debt_default"]==1)])} years, in the period of the {beginning_year} and the {end_year}')
print(f'Zimbabwe defaulted its external debt for {total_years} years, in the period of {beginning_year} and {end_year}')

Zimbabwe defaulted its external debt for 30 years, in the period of the 1965 and the 2013
Zimbabwe defaulted its external debt for 30 years, in the period of 1965 and 2013

In [32]:
len(df[(df['country']=='Zimbabwe') & (df['sovereign_external_debt_default']==1)])

30

**TASK: In what year did Algeria have its highest exchange rate?**

In [41]:
# CODE HERE
df[df['country']=="Algeria"].sort_values('exch_usd',ascending=False).head(1)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
84,1,DZA,Algeria,2014,0,87.970698,0,0,0.0,2.917,1,0,0,no_crisis

In [42]:
df[df['country']=="Algeria"].sort_values('exch_usd',ascending=False).head(1)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
84,1,DZA,Algeria,2014,0,87.970698,0,0,0.0,2.917,1,0,0,no_crisis